*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* OUTER CONTAINER */
#sign-up-container {
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sign-up-container * {
   margin-bottom: 0.7rem;
}

/* FORM HEADERS */

#container-header {
    margin-bottom: 0.7rem;
}

#container-subheader {
    font-weight: 200;
}

/* TEXT INPUTS */

.text-input{
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 10px 10px;

}

#name-inputs {
    width: 100%;
    margin-bottom: 0;
}

#name-inputs > input {
    width: 48%;
}

#lastName{
    position: relative;
    float: right;
    right: 0.5rem;
}

form > .text-input {
    width: 100%;
}

/* OTHER INPUTS */
#birthday-inputs {
    margin-bottom: 0;
}

#birthday-inputs label {
    display: block;
    margin-bottom: 0.3rem;
}

#small-print {
    width: 70%;
    font-size: 0.9rem;
    color: rgb(160,161,162);
}

#sign-up-button {
    padding: 10px 60px;
    font-size: large;
    font-weight: bold;
    background-image: linear-gradient(rgb(102,174,85), rgb(88,137,67));
    border-radius: 5px;
    border: none;
    color: white;
    text-shadow: 1px 1px #000000;
}
